*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #8B8B8B;
}

.body-asistencia{
	background-color: #FFFFFF;
	width: 80%;
	align-content: center;
	margin: 100px;
}
.titulo{
	font-size: 50px;
	padding: 20px;
	text-align: center;
}

.reloj{
	padding: 0px auto;
	text-align: center;
	font-size: 40px;
	border: solid 2px;
	width: 30%;
	margin: 0px auto;
}

.fecha{
	padding: 10px;
	margin: 0px auto;
	font-size: 30px;
	text-align: center;

}

.form-asistencia{
	padding: 30px;
	align-items: center;
}

.vistaIcons{
	font-size: 10px; 
}